@menu-bg-color: #191a23;
@menu-logo-border-bottom-color: #101117;
@menu-title-color: #fff;
@menu-title-font-size: 18px;

@menu-shrink-item-title-color:hsla(0, 0%, 100%, 0.7);
@menu-shrink-item-title-hover-color:#FFF;
@menu-shrink-item-active-bg-color:#101117;

@animation-time: 0.3s;